<h3><%= "#{@patient.name}'s Bio" %></h3>

<h4><%= "Appointments: " %></h4>
<ul>
<% @patient.appointments.each do |p| %>
    <%= link_to "#{p.appointment_datetime.strftime("%B %d, %Y at %k:%M")}: #{p.doctor.name}", doctor_path(p.doctor) %><br>
<% end %>
</ul>